/* Scss Document */
//custom elements
.seal{max-height: 180px;margin: 0 auto;padding: $border_radius}
.award{max-width: 360px;margin: 0 auto;padding: $border_radius}
p{text-indent: $border_radius*2;margin-bottom: $border_radius}
footer{padding: $spacer;margin-top: $border_radius;background: $brand-inverse;color:$brand-primary}